<table class="table_custom table_events">
    <thead>
    <tr>
        <th>
            Тип билета
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Количество
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>

            <p><strong>Взрослый</strong></p>
            <p>Для граждан РФ старше 18 лет, не имеющих
                дополнительных льгот</p>
        
        </td>
        <td>
        
            <p><strong>900 р.</strong></p>
        
        </td>
        <td>
        
            <div class="form-item">
                <div class="form-item__main">
                    <div class="form-item__field">
                        <input type="number" name="input-number"
                               min="1"
                               max="9999"
                               value="1">
                    </div>
                </div>
            </div><!-- //form-item -->
        
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><h3>Итого:</h3></td>
        <td><h3>2900 р.</h3></td>
        <td><h3>3 билета</h3></td>
    </tr>
    </tfoot>
</table>